@keyframes blink {
  50% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

.blink {
  opacity: 100%;
  display: inline-block;
  animation: blink 1s steps(1, start) infinite;
}

@keyframes fade-in {
  0% {
    height: 0;
    opacity: 0;
  }

  100% {
    height: fit-content;
    opacity: 1;
  }
}

:first-of-type(.fade-in) {
  animation: fade-in 500ms ease-in-out;
}
